APP_PRODUCAO='Path/To/Files/Folder(Download,Upload)'

CLIENT_DIR='/../client/dist/ows-api-ui/'
DOWNLOAD_DATA_DIR=''

PG_USER=''
PG_HOST=''
PG_PASSWORD=''
PG_PORT=''
PG_DEBUG=true

PG_DATABASE_LAPIG=''
PG_DATABASE_GENERAL=''

PORT=
OWS_HOST=''
OWS_LOCAL='http://locahost:3000'

LANGUAGE_DIR=''

MONGO_HOST=''
MONGO_PORT=''
MONGO_DATABASE=''
MONGO_DATABASE_OWS=''
MONGO_DATABASE_LOGS=''
MONGO_JOBS_CONFIG=localhost

CACHE_TOKEN=''
CACHE_TILES_DIR=''
